default: &default
  adapter: postgresql
  encoding: unicode
  username: asiniy
  password: secret
  pool: 5

development:
  <<: *default
  database: aviary_development

test:
  <<: *default
  database: aviary_test
